

#navigation_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation_bar li {
    display: inline;

    background-repeat: no-repeat;
    background-position: left center; 

    padding-left: 24px;
}

#navigation_bar li:first-child {
    /* padding-left: 0;
       background: none; */
}


#navigation_bar a { 
    color: inherit;
    text-decoration: none;
} 




